html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  color: #000000;
  letter-spacing: 1px;
}

p#att, p#rep, p#score {
  display: inline-block;
}


html {
  background-color: #000000;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #6B7EED;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #000000;
  text-shadow: 3px 3px 1px blue;
}

img#nor {
  display: block;
  margin: 0 auto;
}

img#imgA {
  display: inline-block;
  margin: 10px 100px 10px 0;
}

img#imgD {
  display: inline-block;
  margin: 10px 0 10px 100px;
}

button {
  display: inline-block;
}
